/********** Variables **********/
/********** General **********/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/********** Header **********/
.header {
  background-color: #9356dc;
}
.header .header__logo {
  color: white;
}

/********** Main **********/
/**** Section - Hero ****/
/**** Section - Operation ****/
/**** Section - Restaurants ****/
.restaurants {
  display: flex;
  flex-direction: column;
}

/********** Footer **********/